a.hover{
    font-size: 16pt;
}
body{
    font-family: 'Caesar Dressing', cursive;
    margin: 0;
}
h1{
    margin: 0;
}
header{
    background-image: url(..//D2/images/glor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
nav{
    align-items: center;
    background-color: aqua;
    display: flex;
    height: 50px;
    justify-content: space-around;
}